.c-card{
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 30px;
  width:50%;
  margin-left: 45%;
  display:block;
    margin: 0px auto;
    margin-top:10%;

}

.c-card button{
    display:block;
    margin: 0px auto;
}

input{
    padding:10px;
}

button{
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border:0px;
    padding-left: 30px;
    padding-right: 30px;


}

.c-btn-success{
    color:white;
    background-color: #16a085;
}