<!DOCTYPE html>
<html>
    <head><title>kogarashi</title></head>
    <link href="/ext/css/index_style.css" rel="stylesheet"/>
    <body>
       <div class="c-card">
           <h3>Hello There please Enter username & password</h3>
           <input type="text" name="uname" id="uname" placeholder="User name"/><br/><br/>
           <input type="password" name="password" id="password"  placeholder="enter password" /><br/><br/>
          <button type="button" class="c-btn-success">login</button>
        </div>
        <!-- <button class="c-btn-success" onclick="alert('goood')">Click</button> -->
    </body>
</html>