<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<link href="/ext/css/index_style.css" rel="stylesheet" />
<body>
    <div class="c-card">
        <h4>Registration  <i style="color:#c0392b">(** please fill up all the field)</i></h4>
        <br/>
        <form>
            <label for="uname">user Name:</label> 
            <input type="text" id="uname" name="uname" placeholder="Enter your name" required/><br/><br/>            
            <label for="password">Password:</label> 
            <input type="password" id="password" name="password" placeholder="Enter your password" required/><br/><br/>
            <label for="role">Role:</label> 
            <select name="role" id="role" required> 
                <option disabled value="" selected>Select one </option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
            <br/>
            <br/>

            <button  class="c-btn-success">Register</button>
        </form>
    </div>
</body>
</html>